/* .container {
  background-color: rgb(188, 243, 188)!important;
  /* position: absolute;
  left: 35%;
  top: 150px;
  z-index: -1; */
  /* border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.mainone {
  display: flex;
  gap: 1rem;
}

.cookblock span:nth-child(1) {
  font-size: large;
  font-weight: 700;
}

.first_second {
  margin-right: 50px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.first_second span:nth-child(1) {
  font-size: small;
}


.BsCreditCard2Back {
  display: flex;
  align-items: center;
}

.first_second button {
  border: none;
  padding: 5px;
  margin-top: 8px;
  border-radius: 5px;
}

.first_right {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  border-radius: 10px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.maintwo {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}

.second {
  margin-top: -1.9rem;

  border-radius: 10px;
  display: flex;
  align-items: center;

  width: 350px;
}

.BiEditAlt {
  margin-left: 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 17px;
  
}
.BiEditAlt:hover{
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.second p {
  margin-top: -2rem;
  background-color: rgb(230, 230, 238);
  padding: 15px;
  width: 22rem;
  border-radius: 5px;
}
.second h4 {
  font-size: larger;
}

.thirdone {
  display: flex;
  gap: 1rem;
}

.activity {
  font-size: larger;
}
.third_second {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}
.pr {
  background-color: orange;
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.third_second input {
  margin-left: 10px;
}
.third_last {
  margin-top: 2rem;
}
.pr2 {
  background-color: orange;
  padding: 8px;
  border-radius: 50%;
  margin-right: 10px;
}
.third_last span:nth-child(2) {
  margin-left: 12px;
}
.time {
  margin-left: 40px;
}
.time1 {
  margin-left: 5px;
}

.time1:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
}

.container {
  background-color: rgb(236, 243, 243);
  padding: 2rem;
  width: fit-content;
}
.input_activity {
  padding: 5px;
  width: 68%;
}
.item_time {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  border-radius:5px ;
  margin-top: -25px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.item_time1 {
  display: flex;
  align-items: center;
  width:80%;
}

.timing_para {

  width: fit-content;
  margin-bottom: 0px;
  margin-left: 20px;
  color: rgb(73, 72, 72);
  font-size: 15px;
}

.timing_para1 {

  margin-top: 0px;
  width: fit-content;
  margin-left: 43px;
  color: rgb(73, 72, 72);
  font-size: 10px;
}

.date_time {

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 90px;
}  */
.container {
  background-color: rgb(8, 5, 2)!important;
  position: absolute;
  left: 35%;
  top: 150px;
  z-index: 1; 
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
   border:  rgba(222, 205, 127, 0.5);
}

.mainone {
  display: flex;
  gap: 1rem;
}

.cookblock span:nth-child(1) {
  font-size: large;
  font-weight: 700;
}

.RxCross2{
  border: 1px solid red;
  margin-top: 0px;
}

.first_second {
  margin-right: 50px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.first_second span:nth-child(1) {
  font-size: small;
}


.BsCreditCard2Back {
  display: flex;
  align-items: center;
}

.first_second button {
  border: none;
  padding: 5px;
  margin-top: 8px;
  border-radius: 5px;
}

.first_right {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  border-radius: 10px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.maintwo {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}

.second {
  margin-top: -1.9rem;

  border-radius: 10px;
  display: flex;
  align-items: center;

  width: 350px;
}

.BiEditAlt {
  margin-left: 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 17px;
  
}
.BiEditAlt:hover{
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.second p {
  margin-top: -2rem;
  background-color: rgb(230, 230, 238);
  padding: 15px;
  width: 22rem;
  border-radius: 5px;
}
.second h4 {
  font-size: larger;
}

.thirdone {
  display: flex;
  gap: 1rem;
}

.activity {
  font-size: larger;
}
.activity_list{
  color:white;
}
.third_second {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}
.profile{
  background-color: orange;
  height: 20px;
  margin-right: 5px;
  padding-top: 7px;
  border-radius: 50%;
  padding-left: 5px;
padding-right: 5px;
padding: 5px;
margin-top: 12px;
}
.pr {
  background-color: orange;
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.third_second input {
  margin-left: 10px;
}
.third_last {
  margin-top: 2rem;
}
.pr2 {
  background-color: orange;
  padding: 8px;
  border-radius: 50%;
  margin-right: 10px;
}
.third_last span:nth-child(2) {
  margin-left: 12px;
}
.time {
  margin-left: 40px;
}
.time1 {
  margin-left: 5px;
}

.time1:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
}

.container {
  background-color: rgb(236, 243, 243);
  padding: 2rem;
  width: fit-content;
}
.input_activity {
  padding: 5px;
  width: 68%;
}
.item_time {
  
  display: flex;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
  rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  border-radius:5px ;
  margin-top: -25px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.item_time1 {
  display: flex;
  align-items: center;
  width:80%;
}

.timing_para {
  width: fit-content;
  margin-bottom: 0px;
  margin-left: 20px;
  color: rgb(73, 72, 72);
  font-size: 15px;
}

.timing_para1 {

  margin-top: 0px;
  width: fit-content;
  margin-left: 45px;
  color: rgb(73, 72, 72);
  font-size: 10px;
}

.date_time {

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 90px;
}