
.mainone{ 
    display: flex;
    gap: 1rem;
    
}

 .cookblock span:nth-child(1){
  font-size: large;
  font-weight: 700;
  }
 
  .first_second{
    margin-right: 50px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .first_second span:nth-child(1){
    font-size: small;
  }
  .BsCreditCard2Back{
    display: flex;
    align-items: center;
  }
  .first_second button{
   background-color: rgb(230, 230, 238);
   border: none;
   padding: 5px;
   margin-top: 8px;
   border-radius: 5px;
  }

  .first_right{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .maintwo{
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
  }
  
  
   .second{
    margin-top: -1.6rem;
   }
   .second p{
   margin-top: -1rem;
   background-color: rgb(230, 230, 238);
   padding: 15px;
   width: 25rem;

   }
   .second h4{
    font-size: larger;
   }


   .thirdone{
    display: flex;
    gap: 1rem;
   }
  .thirdone span:nth-child(3){
    background-color:rgb(246, 242, 242) ;
    margin-left: 17rem;
    padding: 5px;
  }
  .activity{
    font-size: larger;
  }
  .third_second{
    margin-top: 1rem;
    display: flex;
  }
  .pr{
    background-color: orange;
    padding: 5px;
    font-size: 15px;
    border-radius: 50%;
   margin-right:15px;
  }
  .third_second input{
    margin-left: 10px;
    
  }
  .third_last{
    margin-top:2rem ;
   
  }
  .pr2{
    background-color: orange;
    padding: 8px;
    border-radius: 50%;
    margin-right:10px;
   
  }
  .third_last span:nth-child(2){
    margin-left: 12px;
    
 }
  .time{
    border:1px solid red;
  margin-left:40px;
 
  }
  .time1{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    font-weight: bold;
    margin-left:5px;
    border: none;
  }

  .time1:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor:pointer;
  }


  .container{
    background-color: rgb(236, 243, 243);
    padding: 2rem;
    width: fit-content;
  }
  .input_activity{
     padding: 5px;
    width:60%;
  }
  .item_time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  .item_time1{
    display: flex;
    align-items: center;
  }
  .item_time p{
    font-size: 15px;
    color: rgb(73, 72, 72);
    margin-right: 50px;
  }


